<!DOCTYPE html>
<!-- <p>Please enter your search query below, Mr {{{name}}}</p> -->
<style>
  * {
    text-align:center
  }

  form {
    padding-top: 300px;
  }
</style>
<p>Enter your search term</p>

<form action="/search" method="GET">
  <input type="text" name="searchTerm">
  <button type="search">Submit</button>
</form>


<!-- The page it goes to is after action -->
